@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'ProximaNova-Extrabld';
    src: url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('../fonts/ProximaNova-Extrabld.ttf') format('ttf');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('../fonts/BebasNeue-Regular.woff') format('woff'),
    url('../fonts/BebasNeue-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'BebasNeue-Bold';
    src: url('../fonts/bebas-neue-bold.woff2') format('woff2'),
    url('../fonts/bebas-neue-bold.woff') format('woff'),
    url('../fonts/bebas-neue-bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
