.catalog {
  padding: 60px 0 100px;
  color: #2A2928;
  &__title {
    font-size: 42px;
    line-height: 38px;
    color: #2A2928;
    font-family: "BebasNeue-Bold", sans-serif;
    text-align: left;
    margin-bottom: 40px;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 35px;
  }
  &__item {
    width: 454px;
    padding: 40px 26px 33px 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }
  &__item-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    line-height: 38px;
    color: #2A2928;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 38px;
  }
  &__item-img {
    margin-bottom: 34px;
  }
  &__info {
    margin-bottom: 42px;
  }
  &__info-item {
    position: relative;
    padding-left: 33px;
    margin-bottom: 20px;
    &:before {
      content: '';
      position: absolute;
      background: url("../images/orange-romb.png");
      width: 13px;
      height: 13px;
      left: 0;
      top: 5px;
    }
    &:nth-child(3):before {
      transform: rotate(45deg);
    }
  }
  &__link {
    color: #039583;
    position: relative;
    padding-right: 60px;
    &:before {
      content: '';
      position: absolute;
      background: url("../images/half-arrow-right.svg");
      width: 45px;
      height: 12px;
      right: 0;
      top: 3px;
    }
  }
}