@media (max-width: 1366px) {
  .container {
    max-width: 1250px;
  }
  .header {
    background-image: url("../images/header-bg--laptop.png");
    margin-top: 25px;
    &__title {
      margin-bottom: 135px;
    }
    &__video-text {
      margin-right: 20px;
    }
  }
  .nav {
    &__list {
      display: none;
    }
  }

  .menu {
    width: 400px;
  }

  .communicate {
    justify-content: end;
  }
  .contacts {
    margin-right: 25px;
  }
}
@media (max-width: 950px) {
  .header {
    background-image: url("../images/header-bg--tablet.png");
    &__inner {
      padding: 40px 0 97px;
    }
    &__title {
      font-size: 35px;
      line-height: 50px;
      margin-bottom: 50px;
    }
    &__video-text {
      width: 395px;
      font-size: 18px;
      line-height: 20px;
    }
  }
  .container {
    max-width: 772px;
  }
  .nav {
    margin-bottom: 48px;
  }
  .menu-btn {
    display: block;
  }
}
@media (max-width: 768px) {
  .header {
    margin-top: 20px;
    &__inner {
      padding: 40px 0 97px;
    }
    &__title {
      font-size: 25px;
      line-height: 36px;
      margin-bottom: 80px;
      max-width: 400px;
    }
    &__video {
      margin-right: 0;
    }
  }
  .menu {
    display: none;
  }
  .menu-active {
    display: block;
  }
  .menu-active .communicate {
    display: block;
    position: absolute;
    left: 60px;
    top: 300px;
    width: 290px;
    //background: #243469;
    //border: 2px solid #243469;
    //box-shadow: 4px 4px 40px rgba(36, 52, 105, 0.05);
    //border-radius: 20px 0;
    //padding: 35px 15px 32px;
  }
  .menu-active .nav__list {
    &-item {
      width: 100%;
      margin-bottom: 25px;
      line-height: 25px;
    }
  }
}
@media (max-width: 630px) {
  .header {
    &__title {
      margin-left: 0;
      max-width: 320px;
      margin-bottom: 50px;
    }
    &__video-text {
      display: none;
    }
  }
}
@media (max-width: 400px) {
  .header {
    background-image: url("../images/header-bg--mobile.png");
    &__title {
      margin: 0 15px 25px;
    }
  }
  .container {
    max-width: 300px;
    padding: 0 15px;
  }
  .nav {
    margin: 0 0 57px;
  }
}