.header {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 23px;
  height: 100vh;
  &__inner {
    padding: 50px 0 97px;
  }
  &__title {
    font-size: 52px;
    line-height: 70px;
    color: #fff;
    text-transform: uppercase;
    max-width: 800px;
    width: 100%;
    text-align: left;
    margin-left: 45px;
    margin-bottom: 80px;
  }
  &__video {
    display: flex;
    justify-content: end;
    text-align: right;
    align-items: center;
    margin-right: 70px;
  }
  &__video-text {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    margin-right: 40px;
  }
  &__video-img {
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 115px;
  position: relative;
  &__list {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__list-item {
    font-weight: 700;
  }
  &__list-link:hover {
    color: #383838;
  }
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-btn {
  position: relative;
  display: none;
  width: 50px;
  fill: #fff;
  &:hover {
    fill: #161D3C;
  }
}

.menu-active .nav__list {
  display: block;
  position: absolute;
  left: 60px;
  top: 50px;
  width: 290px;
  background: #243469;
  border: 2px solid #243469;
  box-shadow: 4px 4px 40px rgba(36, 52, 105, 0.05);
  border-radius: 20px 0;
  padding: 35px 15px 32px;
}

.menu-active .nav__list {
  &-item {
    width: 100%;
    margin-bottom: 25px;
    line-height: 25px;
  }
}

.communicate {
  width: 460px;
  display: flex;
  justify-content: space-between;
}

.contacts {
  &__item {
    position: relative;
    &:hover {
      color: #243469;
    }
  }
  &__item:first-child::before {
    content: '';
    position: absolute;
    left: -33px;
    top: -3px;
    background: url('../images/mail.png');
    width: 35px;
    height: 20px;
    margin-right: 53px;
    font-weight: 700;
  }
  &__item:nth-child(2)::before {
    content: '';
    position: absolute;
    left: -19px;
    top: 3px;
    background: url('../images/phone.png');
    width: 12px;
    height: 13px;
    margin-right: 53px;
  }
  &__item:first-child {
    margin-right: 53px;
  }
  &__item:last-child {
    font-weight: 700;
  }
}

.social {
  &__link {
    margin-left: 6px;
  }
  &__link svg {
    background: #fff;
    border-radius: 10px;
    fill: #243469;
    &:hover {
      background: #243469;;
      fill: #fff;
    }
  }
}
